<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop = "http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd">
       
        
      <context:annotation-config/>
      <context:component-scan base-package="com.tsi.services"></context:component-scan>
      <context:component-scan base-package="com.tsi.aspects"></context:component-scan>
      <aop:aspectj-autoproxy/>
      
      
      <bean id="accBean" class="com.tsi.beans.Account">
      <property name="accNo" value="1409"  ></property>
      <property name="accName" value="SHIWIN"></property>
      <property name="accType" value="Savings" ></property>
      <property name="balance" value="15000"></property>
 
      
      </bean>
</beans>